<!DOCTYPE html>
<html>
<head>
  <title>Test Form Vendor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<% if session[:user] %>
  <%= render partial: "navbar" %>
<% end %>
<%= render partial: "header" %>
<%= yield %>

</body>
</html>
